@model IEnumerable<Productos>
@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Productos";
}

<div class="row" style="margin-top: 60px;">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="row justify-content-md-center">
                    <div class="col-md-12">
                        <section id="nuevoProducto" class="mb-2">
                            <a id="btnNuevo" class="btn btn-success" asp-controller="Productos" asp-action="Registro">
                                <i class=" fa fa-file"></i> Nuevo
                            </a>
                        </section>

                        <section id="ListaProductos" class="table-responsive">
                            <table class="table table-striped table-borderless">
                                <thead class=" thead-light">
                                    <tr>

                                        <th scope="col">Nombre</th>
                                        <th scope="col">Descripción</th>
                                        <th scope="col">@Html.DisplayNameFor(model => model.Stock)</th>
                                        <th scope="col">@Html.DisplayNameFor(model => model.Precio)</th>
                                        <th scope="col">@Html.DisplayNameFor(model => model.Imagen)</th>


                                        <th scope="col">Categoría</th>
                                        <th scope="col">Estatus</th>
                                        <th scope="col">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var productos in Model)
                                    {
                                        <tr>
                                            <th scope="row">@Html.DisplayFor(model => productos.nombre)</th>
                                            <td>@Html.DisplayFor(model => productos.descripcion)</td>
                                            <td>@Html.DisplayFor(model => productos.Stock)</td>
                                            <td>@Html.DisplayFor(model => productos.Precio)</td>
                                            <td><img class="img-fluid" src="~/Img/@productos.Imagen"/></td>

                                            <td>@Html.DisplayFor(model => productos.categoria.nombre)</td>
                                            <td>@Html.DisplayFor(model => productos.estatus)</td>
                                            <td>
                                                <a class="btn btn-primary" asp-action="Editar" asp-route-id="@productos.ID">
                                                    <i class="fas fa-edit"></i>Editar
                                                </a>
                                                <a class="btn btn-danger" asp-action="Borrar" asp-route-id="@productos.ID">
                                                    <i class="fas fa-trash"></i>Eliminar
                                                </a>
                                            </td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </section>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
